[Desktop Entry]
Comment=Aperture Kde Theme
Name=Aperture-1
X-KDE-PluginInfo-Author=Zosman
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=zosman@aperturelinux.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 2+
X-KDE-PluginInfo-Name=Aperture-Default
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=aperturelinux.org
X-KDE-ServiceTypes=Plasma/LookAndFeel
